<a href="https://colab.research.google.com/github/Mouni321/MODULE-1-lab-1/blob/main/08_08_2024Day1CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

**It is used for:**
* web development (server-side)
* software development
* mathematics
* system scripting

What can Python do?
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software
 development.

Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.
* Python Syntax compared to other programming languages
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [ ]:
#syntax
print("Hello, World!")

Hello, World!



```
# This is formatted as code
```

# Python Variables
**In Python, variables are created when you assign a value to it:**
**variable is a storage block **

# Legal variable names:

* myvar = "John"
* my_var = "John"
* _my_var = "John"
* myVar = "John"
* MYVAR = "John"
* myvar2 = "John"

# Illegal variable names:
* 2myvar = "John"
* my-var = "John"
* my var = "John"

In [ ]:
b=10
print(b)

10

In [ ]:
a=10
b="total"
print(a)
print(b)

10
total

In [ ]:
a= 10
a=20
print(a)

20

In [ ]:
x,y,z= "or","ba","tu"
print(x,y,z)

or ba tu

In [ ]:
x=y=z="butterfly"
print(x,y,z)

butterfly butterfly butterfly

In [ ]:
x,y,z="orrr"
print(x,y,z)

ValueError: too many values to unpack (expected 3)

# Swapping of two numbers

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

# Get the Type
**You can get the data type of a variable with the type() function.**

In [ ]:
x=5
print(type(x))

<class 'int'>

# Python Data Types

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool

In [ ]:
x=20
print(x)
print(type(x))

20
<class 'int'>

In [ ]:
x=20.5
print(type(x))

<class 'float'>

In [ ]:
x=1j
print(x)
print(type(x))

1j
<class 'complex'>

In [ ]:
x="1a"
print(x)
print(type(x))

1a
<class 'str'>

In [ ]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
a="kiet"
print(a)
print(type(a))

kiet
<class 'str'>


# TOKENS , PRINTING STATEMENTS AND TYPE CASTING

**TOKENS**
Tokens are the building blocks of a program. When you write code, the Python interpreter breaks it down into these tokens for further processing.

# TOKENS are 5 types
1.   KEYWORDS
2.   IDENTIFIERS
3. LITERALS
4.  DELIMITERS
5.  COMMENTS

# KEYWORDS
**Keywords: These are reserved words that have special meanings in Python and cannot be used as identifiers (variable names or function names). Examples include if, else, while, for, def, class, etc.**

In [ ]:
if 2<10:
    print("This is an example of a keyword (if)")

This is an example of a keyword (if)

# IDENTIFIERS
** These are names given to variables, functions, classes, modules, etc. in a Python program. Identifiers must follow certain rules, such as starting with a letter or underscore, followed by letters, digits, or underscores. Identifiers are case-sensitive.**

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

# Literals:
**Literals: Literals represent fixed values in your code. There are several types of literals:

Numeric literals: These include integers, floating-point numbers, and complex numbers.
String literals: These are sequences of characters enclosed in quotes (' or ").**

In [ ]:
# Literals
number = 42
floating_point = 3.14
string = "Hello, World!"
boolean = True
none_value = None

# Operators:
**Operators: Operators are symbols that perform operations on operands. For example, +, -, *, / are arithmetic operators, ==, !=, <, > are comparison operators, and, or, not are logical operators, etc.**

In [ ]:
x = 10
y = 20
print(x+y)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

**In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:**

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
x = 5
y = "John"
print(x,y)

# DELIMITERS
**Delimiters: These are characters used to specify the structure of a program. Examples include parentheses (), square brackets [], curly braces {}, commas ,, colons :, periods ., etc.**

In [ ]:
my_list = [1, 2, 3, 4]
my_dict = {'a': 1, 'b': 2}

#Comments
**Comments: Comments are used to explain code and are ignored by the Python interpreter. They start with # and extend to the end of the line.**

**WE HAVE TWO TYPES OF COMMENTS IN PYTHON**


1.   SINGLE LINE COMMENT-----#
2.   MULTY LINE COMMENT-----""" """

In [ ]:
#This is a comment
print("Hello, World!")

In [ ]:
print("Hello, World!") #This is a comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

# Type casting
**Type casting, also known as type conversion, is the process of converting one data type into another. In Python, you can perform type casting using various built-in functions or by using the constructor functions of the target data type.

Here are the common types of type casting in Python:**

**Implicit Type Conversion: This type of conversion is automatically performed by Python for certain operations where one data type is expected, but another data type is provided. For example, adding an integer to a float will result in an implicit conversion of the integer to a float.**

In [ ]:
# Implicit Type Conversion
num_int = 10
num_float = 3.5
result = num_int + num_float  # num_int is implicitly converted to float
print(result)  # Output: 13.5

**Explicit Type Conversion: This type of conversion is performed explicitly by the programmer using predefined functions to convert one data type to another.**

1. int(): Converts the specified value into an integer.
2. float(): Converts the specified value into a floating-point number.
3. str(): Converts the specified value into a string.
4. bool(): Converts the specified value into a Boolean value.
5. list(): Converts the specified iterable (e.g., tuple, set) into a list.
6. tuple(): Converts the specified iterable into a tuple.
7. set(): Converts the specified iterable into a set.

In [ ]:
# Converting string to integer
num_str = "123"
num_int = int(num_str)  # Convert string to integer
print(num_int)

In [ ]:
a=13.5
b=int(a)
print(b)

In [ ]:
# Converting float to integer
a = 3.14
b= int(a)
print("Float to Integer:", b)

In [ ]:
# Converting integer to string
num_int = 456
num_str = str(num_int)
print("Integer to String:", num_str)

In [ ]:
# Converting boolean to integer
bool_val = True
num_int = int(bool_val)
print("Boolean to Integer:", num_int)

#PRINTING METHODS
**Two commonly used methods are f-strings and the format() method.**

**f-strings provide a concise and readable way to format strings by embedding expressions inside curly braces {}. You can include variables, expressions, and function calls directly within the string. f-strings are available in Python 3.6 and later versions.**

In [ ]:
x = 5
y = 10
print(f"The sum of {x} and {y} is {x + y}")

In [ ]:
name = "John"
print(f"Hello, {name}")

In [ ]:
name = "Alice"
age = 30
height = 5.6

# Using f-strings
print(f"My name is {name}, I am {age} years old, and my height is {height} feet.")

**format() method:

The format() method allows you to format strings by inserting variables or values into placeholders {} within the string. You can specify the order of insertion and provide formatting options such as alignment, padding, and precision.**

In [ ]:
name = "Bob"
age = 25
height = 6.0

# Using format() method
print("My name is {}, I am {} years old, and my height is {} feet.".format(name, age, height))

In [ ]:
item = "apple"
price = 1.99
print("The price of {} is {}".format(item, price))

In [ ]:
name = "Jane"
age = 35
print("{1} is {0} years old".format(age, name))

#  Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random

print(random.randrange(1, 100))

#USER INPUT,INDENTATION AND CONDITIONALS

# USER INPUT
**User input refers to data or information provided by the user to a computer program during its execution.**

In [ ]:
a=10
print(a)

In [ ]:
# Prompting the user to enter their name
a= int(input())
print(a)

In [ ]:
a= int(input())
b=int(input())
print(a+b)

In [ ]:
# Prompting the user to enter their name
a= int(input("enter value of a:"))
print(a)

In [ ]:
a= float(input("enter value of a:"))
print(a)

In [ ]:
# Prompting the user to enter their name
name = input("Enter your name: ")

# Displaying a greeting message with the user's name
print("Hello,", name)

# Python Indentation
**Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.**

Python will give you an error if you skip the indentation:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

# CONDITIONALS
**
In Python, conditional statements are used to control the flow of a program based on certain conditions. They allow the program to execute different blocks of code depending on whether certain conditions are true or false**

**In python the conditionals are**


1. if
2. if - else
3. elif
4. Nested if

** logical conditions**


*  Equals: a == b
* Not Equals: a != b
*  Less than: a < b
*  Less than or equal to: a <= b
*  Greater than: a > b
*  Greater than or equal to: a >= b

**if Statement: The if statement is used to execute a block of code if a specified condition is true.**

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

In [ ]:
a=100
if a!=10:
  print("a not equals to 100")

a not equals to 100

In [ ]:
a=100
if a>=10:
  print("a greater than or not eqaul to 10")

a greater than or not eqaul to 10

In [ ]:
if 2 > 5:
  print("NONE")

**if-else Statement: The if-else statement is used to execute one block of code if the condition is true, and another block of code if the condition is false.**

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

In [ ]:
a = 200
b = 33
if b > a:
  print("KIET")
else:
  print("COLLEGE")

COLLEGE

In [ ]:
age=20
backlogs=0
if age>18:
  if backlogs<2:
    print("submit letter")
  else:
    print("no submission")
else:
    print("default")

submit letter

**if-elif-else Statement: The if-elif-else statement is used to check multiple conditions. It evaluates each condition one by one, and if any of the conditions are true, the corresponding block of code is executed. If none of the conditions are true, the else block is executed.**

In [ ]:
x = 10
if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")

x is equal to 10

In [ ]:
x = 10
if x < 100:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")

x is greater than 10

In [ ]:
x = 10
if x > 10:
    print("x is greater than 10")
elif x != 10:
    print("x is  NOT equal to 10")
else:
    print("x is less than 10")

x is less than 10

#Nested If
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
else:
  print("Not")

and also above 20!

In [ ]:
x = 10
if x < 5:
    if x < 15:
        print("x is between 5 and 15")
    else:
        print("x is greater than or equal to 15")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [ ]:
x = 10
if x > 5:
    if x < 9:
        print("x is between 5 and 9")
    elif x==10:
      print("x equals to 10")
    else:
        print("x is greater than or equal to 15")
else:
    print("x is less than or equal to 5")

x equals to 10

In [ ]:
x = 10
if x > 5:
    if x < 9:
        print("x is between 5 and 9")
    elif x!=10:
      print("x equals to 10")
    else:
        print("x is greater than or equal to 15")
else:
    print("x is less than or equal to 5")

x is greater than or equal to 15

**CODE -2**
Write a code to determine whether a number is positive number, negative number, or zero by taking user input.
* ex:
* 2
* positive number
* 0
* Zero

In [ ]:
num = int(input())
if num>0:
  print("Positive num")
elif num<0:
  print("Negative num")
else:
  print("The num is Zero")


# OPERATORS AND STRINGS

+
3.**Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values**

In [ ]:
print(20 + 50)

Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

#  Arithmetic Operators

**Python Arithmetic Operators are used with numeric values to perform common mathematical operations:**


Operator	Name	Example	Try it
1. Addition	x + y
2. Subtraction	x - y
3. Multiplication	x * y
4.	Division	x / y
5. Modulus	x % y
6. Exponentiation	x ** y
7. Floor division	x // y

In [ ]:
x = 15
y = 2

print(x / y)

In [ ]:
x = 15
y = 2

print(x // y)

In [ ]:
x = 2
y = 5

print(x ** y)

In [ ]:
x = 10
y = 2

print(x % y)

**CODE-3 determine whether a given number is even or odd:**

In [ ]:
number=int(input("Enter a number"))
if number % 2 == 0:
    print("number is even.")
else:
    print("number is odd.")

# Assignment Operators
**Assignment operators are used to assign values to variables**

Operator	Example
1.  x = 5	 -------x = 5
2. 	x += 3	-------x = x + 3
3. 	x -= 3	-------x = x - 3
4. 	x *= 3	-------x = x * 3
5. 	x /= 3	-------x = x / 3
6. 	x %= 3	-------x = x % 3
7. 	x //= 3	-------x = x // 3

In [ ]:
x = 5
x += 3

print(x)

In [ ]:
x = 5

x **= 3

print(x)

****

# Comparison Operators
**Comparison operators are used to compare two values:**


Operator	Name	Example	Try it
1. Equal	x == y
2. Not equal	x != y
3. Greater than	x > y
4. Less than	x < y
5. 	Greater than or equal to	x >= y
6. 	Less than or equal to	x <= y

In [ ]:
x = 5
y = 3

print(x == y)

In [ ]:
x = 5
y = 3

print(x != y)

In [ ]:
x = 5
y = 3

print(x <= y)

In [ ]:
x=3
y=3
print(x>=y)

#Logical Operators
**Logical operators are used to combine conditional statements:**



1. "and "	Returns True if both statements are true----	x < 5 and  x < 10
2. "or"	Returns True if one of the statements is true---	x < 5 or x < 4
3. "not"	Reverse the result, returns False if the result is--- true	not(x < 5 and x < 10)

In [ ]:
x = 5

print(x > 3 and x < 10)

In [ ]:
x = 5
if x > 3 and x < 10:
  print(True)

In [ ]:
x = 5
if x < 3 and x < 10:
  print(True)

In [ ]:
x=-5
y=20
if x > 0 and y > 0:
  print("Both numbers are positive.")
elif x > 0 or y > 0:
  print("At least one number is positive.")
else:
  print("Both numbers are non-positive.")

In [ ]:
x = 5

print(not(x > 3 and x < 10))

False

# Identity Operators
**Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location**

1. "is"	Returns False if both variables are the same object	-----x is y
2. "is not"	Returns True if both variables are not the same object	---x is not y

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is y)

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z)

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is y)

In [ ]:
a = 5
b = a

if a is b:
    print("a and b are the same object.")
else:
    print("a and b are different objects.")

a and b are the same object.

#  Membership Operators
 **Membership operators are used to test if a sequence is presented in an object:**


1. "in "	   Returns True if a sequence with the specified value is present in the object-------x in y
2. "not in"	   Returns True if a sequence with the specified value is not present in the object-----x not in y

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

True

In [ ]:
my_string = "Hello, World!"

if "H" in my_string:
    print("'H' is present in the string.")
else:
    print("'H' is not present in the string.")

In [ ]:
main_string = "This is a test string."
substring = "test"

if substring in main_string:
    print("The substring  is present in the main string.")
else:
    print("The substring  is not present in the main string")

The substring  is present in the main string.

# Bitwise Operators
**Bitwise operators are used to compare (binary) numbers:**
1. "&" NAME :	AND	---Sets each bit to 1 if both bits are 1	----x & y
2. '|'	NAME :	OR	Sets each bit to 1 if one of two bits is 1	----x | y
3. "^"	NAME :XOR	---Sets each bit to 1 if only one of two bits is 1	----x ^ y
4. "~"	NAME :NOT	Inverts all the bits	----~x
5. "<<"	NAME :Zero fill left shift	---Shift left by pushing zeros in from the right and let the leftmost bits fall off	----x << 2
6. ">>" NAME :Signed right shift	---Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off----	x >> 2

In [ ]:
'''The & operator compares each bit
and set it to 1 if both are 1,
otherwise it is set to 0:'''
print(6 & 3)

In [ ]:
'''The | operator compares each bit and set it
 to 1 if one or both is 1,
otherwise it is set to 0:'''
print(6 | 3)

In [ ]:
'''The ^ operator compares each bit
and set it to 1 if only one is 1,
 otherwise (if both are 1 or both are 0)
 it is set to 0:'''

print(6 ^ 3)

**WHAT IS OPERATOR PRECEDENCE??**

In [ ]:
print((6 + 3) - (6 + 3))

0

In [ ]:
print(100 + 5 * 3)

115