<a href="https://colab.research.google.com/github/Mouni321/MODULE-1-lab-1/blob/main/13_08_2024Day3CWProblems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**LIST, TUPLE , DICTIONARIES AND SETS**

### **Lists:**

* Introduction to lists as a data structure.
* Creating lists and accessing elements.
* List methods (append, insert, pop, etc.).
* List slicing.

###**LIST:-**

* Lists are used to store multiple values in one single variable.

* In python lists are written in square brackets "[ ]".

* Lists are Ordered, changable and allows duplicants..!

* List items are indexed, the first item has index [0], the second item has index [1].

* Index starts with 0 and ends with (n-1).
* we use slice the list by using [:] operator.

In [ ]:
#CREATING A LIST
L=[1,2,3,4,5,6,5,4,4]
print(L)
print(type(L))

[1, 2, 3, 4, 5, 6, 5, 4, 4]
<class 'list'>

In [ ]:
#LIST TO ACCESS ELEMENTS
    print(L[3])    #accessing the element 4 o index 3
    print(L[2:5])  #accessing the elements from index 2 to index 4

IndentationError: unexpected indent (<ipython-input-4-edd2a54f80f5>, line 2)

In [ ]:
#List accessing using for loop
for list in L:
  print(list)

1
2
3
4
5
6
5
4
4

###**LIST METHODS:-**

>len()->returns legth of the list

>append() ->adds an element at end of the list

>copy() ->reurns copy of the list

>count()->returns the numbe of elements with a specified value

>extend() ->add the elements or any multiple

>index()->returns the index of teh first element with specified value

>insert() -> add an element at particular position

>pop()-> removes an element at the specified position

>remove()-> removes the item

>reverse()-> reverse the order of the list

>sort()-> sort the list in ascending or descending order.

>clear()->removes all the elemets in the list

[1, 2, 3, 4, 5, 6, 5, 4, 4, '5']
Length= 10
None
[1, 2, 3, 4, 5, 6, 5, 4, 4, '5', 5]
[1, 2, 3, 4, 5, 6, 5, 4, 4, '5', 5]

In [ ]:
L=[1,2,3,4,5,6,7,"pannu",8,90]
print(L)
#LENGTH
print("Length=",len(L))
#APPEND
L.append(5)
print(L)
#COPY
L2=L.copy()
print(L2)
#EXTEND
L.extend('pavani')
print(L)
#INDEX
L.index('pannu')
L.insert(6,'pavani')
print(L)
#POP
L.pop()
print(L)
#CLEAR
L.clear()
print(L)

[1, 2, 3, 4, 5, 6, 7, 'pannu', 8, 90]
Length= 10
[1, 2, 3, 4, 5, 6, 7, 'pannu', 8, 90, 5]
[1, 2, 3, 4, 5, 6, 7, 'pannu', 8, 90, 5]
[1, 2, 3, 4, 5, 6, 7, 'pannu', 8, 90, 5, 'p', 'a', 'v', 'a', 'n', 'i']
[1, 2, 3, 4, 5, 6, 'pavani', 7, 'pannu', 8, 90, 5, 'p', 'a', 'v', 'a', 'n', 'i']
[1, 2, 3, 4, 5, 6, 'pavani', 7, 'pannu', 8, 90, 5, 'p', 'a', 'v', 'a', 'n']
[]

###**LIST SLICING:-**

* In Python List, there are multiple ways to print the whole List with all the elements, but to print a specific range of elements from the list, we use Slice operation.
*  Slice operation is performed on Lists with the use of a colon(:).
* To print elements from beginning to a range use [: Index]
* to print elements from end-use [:-Index]
* to print elements from specific Index till the end use [Index:]
* to print elements within a range, use [Start Index:End Index] and to print the whole List
with the use of slicing operation, use [:].

In [ ]:
LS=[1,2,3,4,5,6,7,8,9]
#Beginning to end
Beg=LS[:]
print(Beg)
#From beginning to certain range
Cer=LS[:5]
print(Cer)
#REVERSE
Rev=LS[::-1]
print(Rev)
#From end to ceertain range
Ecer=LS[3:-1]
print(Ecer)
#Only print even
Ev=LS[1::2]
print(Ev)
#Only odd print
Odd=LS[::2]
print(Odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[4, 5, 6, 7, 8]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]

###**TUPLES:-**

---
* Understanding TUPLES and their immutablity.

* Creating TUPLES and accessing elements.

UNDERSTANDING TUPLES AND THEIR IMMUTABLITY:-

**Tuple:**

* It is a heterogeneous collection of items.
* Tuples in pythonare also similar to python lists but not completely!
* Tuple can be represented as in paranthesis "( )".
* A tuple is immutable. which means that when we create the tuple , we can't change that.
* Tuples can not be appended or extended.
* In simple, we can not add, remove the items once the tuple is created.
* we can also access the elements using index values and it can be ranging from index 0 and ends with (n-1).
* Tuples are different from lists is that they cannot be modified. This means that items cannot be added to or removed from tuples, and items cannot be replaced within tuples

In [ ]:
tup=(1,2,2,3,4)
print(tup)
print(type(tup))
tup[3]

(1, 2, 2, 3, 4)
<class 'tuple'>

3

SLICING IN TUPLES

---

As like the lists, we can also slice them using indexes..!!

In [ ]:
tup=(1,2,3,4,5,"pannu")
print(type(tup))
print("tuple=", tup)
#TUPLE REVERSE
print("Reverse of a tuple is ",tup[::-1])
#SLICING A TUPLE
tup=tup[1:4]
print("Tuple after slicing is:",tup)

<class 'tuple'>
tuple= (1, 2, 3, 4, 5, 'pannu')
Reverse of a tuple is  ('pannu', 5, 4, 3, 2, 1)
Tuple after slicing is: (2, 3, 4)

**FUNCIONS OF TUPLES**

---

* len() -> which returns the legth of the tuple
* max() -> wic returns the maximum value of the tuple.
* min() -> which returns the minimum value in the tuple.

In [ ]:
tup=(1,4,64,54,23,542,2345,564,234)
print(tup)
max(tup)
print("The maximum value of the tuple is", max(tup))
print("The minimum value of the tuple is", min(tup))
tup=(len(tup))
print("The length of the tuple is ",tup)

(1, 4, 64, 54, 23, 542, 2345, 564, 234)
The maximum value of the tuple is 2345
The minimum value of the tuple is 1
The length of the tuple is  9

**TUPLE SUPPORTS PACKING AND UNPACKING**

---

PACKING:-

* In tuple assignment packing and unpacking is very
* Packing and unpacking can be combined into one statement to make a compound assignment
* In packing, we put values into a new tuple while in unpacking we extract those values
into a single variable.
* Python uses a special syntax to pass optional arguments (*args) for tuple unpacking. This means
that there can be many number of arguments in place of (*args) in python. All values will be
assigned to every variable on the left-hand side and all remaining values will be assigned to
*args .

In [ ]:
a=

In [ ]:
#UNPACKING PYTHON TUPLE
x,*y,z=(1,"pannu",92.87,7500,"KIEW")
print(x)
print(y)
print(z)

1
['pannu', 92.87, 7500]
KIEW

###**DICTIONARIES:-**

---

* Introduction to dictionaries and key:value pairs

* Creating dictionaries and accessing elements.

* Dictionary methods(gets, keys, values.. etc.,)

**DICTINARY**

* Dictionary in python is an unordereed collection of data values, used to store data values like a map, which unlike other Data types that hold only single values as an element
* Dictionary holds key:value pair.
* A  Dictionary can be created by placing sequence of elements within curly { } braces, separated by ‘comma’.


    Syntax:
    DictVar= {key:value,key:value,key:value}

In [ ]:
#EXAMPLE PROGRAM ON DICTIONARY

dicto={ }
print(type(dicto))
dicto={
    "Name":"Pavani Kadari",
    "PIN No": "23JN5A4501",
    "Branch":"AID",
    "FeeReum":55000,
    "COLLEGE FEE":41250,
    "BUS Fee":20000,
    "FMML Fee":3000
    }
print(dicto)

<class 'dict'>
{'Name': 'Pavani Kadari', 'PIN No': '23JN5A4501', 'Branch': 'AID', 'FeeReum': 55000, 'COLLEGE FEE': 41250, 'BUS Fee': 20000, 'FMML Fee': 3000}

**ACCESSING ELEMENTS**

We can access the items of a dictionary by referring to its key name, inside square brackets[ ].

In [ ]:
#Accessing elements
dicto['Name']

'Pavani Kadari'

**CHANGING OF VALUES**

 We can change the value of a specific item by referring to its key name:

In [ ]:
#changing of feereum 55k to 35k
dicto['FeeReum']=35000
print(dicto)

{'Name': 'Pavani Kadari', 'PIN No': '23JN5A4501', 'Branch': 'AID', 'FeeReum': 35000, 'COLLEGE FEE': 41250, 'BUS Fee': 20000, 'FMML Fee': 3000}

In [ ]:
#TO PRINT ALL THE VALUES IN THE DICIONARY IN ONE BY ONE WE USE:

for s in dicto:
  print(dicto[s])

Pavani Kadari
23JN5A4501
AID
35000
41250
20000
3000

**DICTIONARY METHODS:**

* len()
* pop()
* clear()
* copy()
* We can add or remove the elements is also possible by making the key and values into the related dictionary.

In [ ]:
#ADD ELEMENTS INTO DICTIONARY

dicto["LAPTOP"]="DELL"
print(dicto)
#REMOVE ELEMENTS INTO DICTIONARY
#dicto.pop("BUS Fee")
print(dicto)
print(len(dicto))
Dictino=dicto.copy()
print(Dictino)

{'Name': 'Pavani Kadari', 'PIN No': '23JN5A4501', 'Branch': 'AID', 'FeeReum': 35000, 'COLLEGE FEE': 41250, 'FMML Fee': 3000, 'LAPTOP': 'DELL'}
{'Name': 'Pavani Kadari', 'PIN No': '23JN5A4501', 'Branch': 'AID', 'FeeReum': 35000, 'COLLEGE FEE': 41250, 'FMML Fee': 3000, 'LAPTOP': 'DELL'}
7
{'Name': 'Pavani Kadari', 'PIN No': '23JN5A4501', 'Branch': 'AID', 'FeeReum': 35000, 'COLLEGE FEE': 41250, 'FMML Fee': 3000, 'LAPTOP': 'DELL'}

In [ ]:
#ACCESS KEYS AND VALUES USING FOR LOOP

for x,y in dicto.items():
  print(x,y)

Name Pavani Kadari
PIN No 23JN5A4501
Branch AID
FeeReum 35000
COLLEGE FEE 41250
FMML Fee 3000
LAPTOP DELL

## **Sets:**

> Understanding sets and their unique elements.

> Creating sets and basic set operations (union, intersection, etc.).

## **SETS**

* It is an unordered collection of elements.
* Mutable
* No duplicants
* This represents the mathematical notations of a set
* Sets are the best than list on the method for checking whether a specific element is contained in the set.
* We cannot access the elements by using an index.Only use loops to access the set.

**Add Items**

• To add one item to a set use the add() method.

• To add more than one item to a set use the update() method.

**Remove items**

To remove an item in a set, use the remove(), or the discard() method.

**Set Joining**

> union ->|

> intersection -> &

>Difference -> -

>We can also compare the sets also..!

In [ ]:
thisset={''}
print(type(thisset))

<class 'set'>

In [ ]:
thisset = {"apple", "banana", "cherry"}
#USING FORLOOP WE CAN ACCESS SET ELEMENTS
for x in thisset:
  print(x)
thisset.add("orange")
print(thisset)
thisset.update(["orange", "mango", "grapes"])
print(thisset)
thisset.remove("banana")
print(thisset)
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

banana
apple
cherry
{'banana', 'orange', 'apple', 'cherry'}
{'banana', 'apple', 'grapes', 'mango', 'orange', 'cherry'}
{'apple', 'grapes', 'mango', 'orange', 'cherry'}
{'apple', 'cherry'}

In [ ]:
#UNION
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

#INTERSECTION
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

#DIFFERENCE
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Tue', 'Mon', 'Thu', 'Sat', 'Sun', 'Fri', 'Wed'}
{'Wed'}
{'Mon', 'Tue'}

#**Problems**


0) Find the second-largest number in a list (when the list not contains any duplicants).

1) Remove duplicants from list.

2) Find the second-largest number in a list (when the list contains  duplicants).


3) check if a tuple contains a ertain value.

4) Find the key with the maximum value in a dictionary.

5) Check if a set is a subset of another set.

In [ ]:
# @title Problem0


nums = [4, 2, 9, 6, 5]
nums.sort()
print(nums[-2])

6

In [ ]:
# @title Problem1

def remove_duplicates(nums):
    return list(set(nums))

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [ ]:
# @title Problem2

nums = [4, 2, 9, 6, 5, 9]
nums = list(set(nums))  # remove duplicates
nums.sort()
if len(nums) < 2:
    print("No second-largest number")
else:
    print(nums[-2])

6

In [ ]:
# @title Problem3


def contains(tup, value):
    return value in tup

print(contains((1, 2, 3, 4, 5), 3))  # prints True
print(contains((1, 2, 3, 4, 5), 6))  # prints False

True
False

In [ ]:
# @title Problem4

def max_key(d):
    return max(d, key=d.get)

print(max_key({"a": 4, "b": 2, "c": 9, "d": 6}))

c

In [ ]:
# @title Problem5

def is_subset(set1, set2):
    return set1.issubset(set2)

print(is_subset({1, 2, 3}, {1, 2, 3, 4, 5}))  # prints True
print(is_subset({1, 2, 3}, {4, 5, 6}))  # prints False

True
False